<div class="site-nav">
  <div class="site-nav-container" data-el="site-navigation">
    <ul>
      <li>
        <a href="/" title="About me">
          About
        </a>
      </li>
      {% if site.posts.size > 0 %}
      <li>
        <a href="/blog" title="Blog">
          Blog
        </a>
      </li>
      {% endif %}
      <li>
        <a href="/contact" title="Get in touch">
          Contact
        </a>
      </li>
    </ul>
    {% include social.html %} {% include copyright.html %}
  </div>
</div>
