{% capture article_layout %}
<div class="blog blog-article content">
  <div class="flex-wrapper mrl-0-1">
    <div class="flex-item fb-md-75 prl-1">
      <ul class="breadcrumb">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/blog" title="Blog">Blog</a></li>
        <li>{{ page.title }}</li>
      </ul>

      <article class="content-article d-block w-100">
        {{ content }}

        <p><sub class="grey" v-html="`Published: ${getArticle.date}`"></sub></p>
      </article>

      {% if page.comments %}
      <div class="comments d-block w-100">
        <p class="grey">
          <sub>Leave a comment, ask a question or just say hello.</sub>
        </p>
        <div id="disqus_thread"></div>
          <script>

            var disqus_config = function () {
              this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://mikemooredev.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
      {% endif %}
    </div>

    <div class="flex-item fb-md-25 prl-1">
      {% include blog/tag-cloud.html %}
    </div>
  </div>
</div>
{% endcapture %} {% include layout/default.html content=article_layout %}
