<div class="social-links">
  <a
    href="https://github.com/mikemooredev/"
    target="_blank"
    rel="noreferrer nofollow"
    ><i class="icon-social-github"></i
  ></a>
  <a
    href="https://twitter.com/mikemooredev/"
    target="_blank"
    rel="noreferrer nofollow"
    ><i class="icon-social-twitter"></i
  ></a>
  <a
    href="https://instagram.com/mikemoore.xc/"
    target="_blank"
    rel="noreferrer nofollow"
    ><i class="icon-social-instagram"></i
  ></a>
  <!--a href="https://www.linkedin.com/in/mikemooredev/" target="_blank" rel="noreferrer nofollow"><i class="icon-social-linkedin"></i></a-->
</div>