<section class="instafeed">

  <h2 class="heading">
    <a href="https://instagram.com/mikemoore.xc" target="_blank">@mikemoore.xc</a>
  </h2>

  <div class="flex-wrapper insta-wrapper">
    <div class="flex-item fb-33 fb-md-33 fb-xl-16">
      <a href="https://www.instagram.com/p/B3z9tasDc3M/" target="_blank">
        <img src="{{ site.image_path }}/ig-1.jpg" alt="" />
      </a>
    </div>
    <div class="flex-item fb-33 fb-md-33 fb-xl-16">
      <a href="https://www.instagram.com/p/BvpUtDcDiJ4/" target="_blank">
        <img src="{{ site.image_path }}/ig-2.jpg" alt="" />
      </a>
    </div>
    <div class="flex-item fb-33 fb-md-33 fb-xl-16">
      <a href="https://www.instagram.com/p/B1lUTVhD2Jr/" target="_blank">
        <img src="{{ site.image_path }}/ig-3.jpg" alt="" />
      </a>
    </div>
    <div class="flex-item fb-33 fb-md-33 fb-xl-16">
      <a href="https://www.instagram.com/p/B0_TFUyDNel/" target="_blank">
        <img src="{{ site.image_path }}/ig-4.jpg" alt="" />
      </a>
    </div>
    <div class="flex-item fb-33 fb-md-33 fb-xl-16">
      <a href="https://www.instagram.com/p/BweAXabDB7F/" target="_blank">
        <img src="{{ site.image_path }}/ig-5.jpg" alt="" />
      </a>
    </div>
    <div class="flex-item fb-33 fb-md-33 fb-xl-16">
      <a href="https://www.instagram.com/p/Bx3EwmyjCR6/" target="_blank">
        <img src="{{ site.image_path }}/ig-6.jpg" alt="" />
      </a>
    </div>
  </div>
</section>