<section class="whatdo content">
  <h2 class="heading mt-0">What I do</h2>

  <div class="flex-wrapper justify-content-space-between">

    <div class="whatdo__item w-md-50">
      <h3>Website Development</h3>
      <p>Passionate about all things web, exploring possibilities and stretching boundries to grow your business.</p>
    </div>

    <div class="whatdo__item w-md-50">
      <h3>Ecommerce</h3>
      <p>Over eight years experience developing ecommerce solutions for a wide variety of clients across a dynamic range
        of industries.</p>
    </div>

    <div class="whatdo__item w-md-50">
      <h3>Adventure</h3>
      <p>Balancing life inside with time in the great outdoors is imperative for mental health and wellbeing, whether
        it's hiking, biking or walking, just get ouside.</p>
    </div>

    <div class="whatdo__item w-md-50">
      <h3>Photograpy</h3>
      <p>Capturing life at its best, preserving memories, meaningful moments and our interaction with nature and
        landscapes.</p>
    </div>

  </div>
</section>